@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500&family=Red+Hat+Display:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background: #181818;
  
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5F03D6;
}

html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}

.bg-img{
  background-size: auto;
  background-color: #181818
}

@tailwind base;
@tailwind components;
@tailwind utilities;


